@font-face {
   font-family: 'FontLogo';
  font-weight: 100;
}





.lorem-image {
  width: 50%;
  max-width: 200px;
  
  
}


header {
  border: 2px solid black;
  
  background-color: #949999FF;
 
  padding: 20px;
  padding-left: 25px;

  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.7em;
  
}





body, html {
  padding: 0px;
  margin: 0;
/*   background-image: url(https://cdn.glitch.global/cc10ee6c-06fc-4dee-bb4d-795e1b2e95bf/e858c42d-ed79-454b-81c2-281261053425.image.png?v=1681497556612); */
 background-repeat: no-repeat;
    background-size: cover;
  background-color: #E3E2CF
/*   background-image: url(https://cdn.glitch.global/cc10ee6c-06fc-4dee-bb4d-795e1b2e95bf/977f62ac-1cc1-4e03-b03d-20e4f1209c58.image.png?v=1681501716751) */
}

main {
 
  background-color: white;
  background-position: center;
  max-width: 700px;
  padding: 10px;
  border: 1px solid black;
  min-height: 98vh;
  margin: auto;


}


button {
  padding: 13px;
  transform: scale(0.99);
  transition: 0.5s;
  font-weight: 600;
  font-size: 1.2em;
}


button:hover {
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
  background-color: white;
  color: black;
}


.machine-image {
  max-width: 400px;
  width: 50%;
}

.logo {
  width: 70PX;
  height: 50px;
}


.generated-text {
  min-height: 600px;
}